{% extends "layout.html" %} 
{% block content %} 
    <div class="container-fluid">
        <div class="text-center p-5">
            <h1>Car Registration</h1>
        </div>
        <div class="text-center container-sm bg-primary-subtle rounded">
           <form method="post" action="/add_car" class="p-2">
                <label class="p-2">Year</label>
                <input type="text" placeholder="Enter year" class="form-control p-2 text-center" name="year">
                <label class="p-2">Make</label>
                <input type="text" placeholder="Enter maker" class="form-control p-2 text-center" name="make">
                <label class="p-2">Model</label>
                <input type="text" placeholder="Enter model" class="form-control p-2 text-center" name="model">
                <div class="m-2 p-2">
                    <button type="submit" class="btn btn-primary p-2">Add</button>
                </div>

           </form>
            
            
        </div>
        <div class="test-area">
            <p class="message"></p>
        </div>

    </div>
{% endblock content %}
